.projects {
  width: 90%;
  margin: auto;
  height: 85vh;

  text-align: center;
}

.projects a {
  width: 5rem;
}

.projects h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.bmi {
  height: 60%;
}
